<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Company Table Page</title>
</head>
<body>
<h1>Here you can see a list of all companies from DB</h1>

<table style="text-align: center">
    <thead>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company : ${companyList}">
        <td th:text="${company.name}"></td>
        <td th:text="${company.email}"></td>
        <td th:text="${company.phoneNumber}"></td>
    </tr>
    </tbody>

</table>
</body>
<footer>
    <a th:href="@{company}">Go home</a>
</footer>
</html>